.big-icon {
  font-size: xxx-large;
  display: flex;
  justify-content: flex-end;
}

.target-card {
  margin-top: 0.5rem;
}

.card-label {
  color: darkgrey;
}

.status-running {
  color: green;
}

.status-stopped {
  color: orange;
}

.status-failed {
  color: red;
}

.status-unknown {
  color: darkgrey;
}

.search-input,
.target-assets {
  margin-top: 1rem;
}
