<div class="row">
  <div class="col-1">
    <p-sidebar
      [(visible)]="visibleSidebar1"
      [modal]="false"
      [style]="{ width: '10em' }"
      [transitionOptions]="'300ms'"
      [baseZIndex]="10000"
    >
      <a routerLink=""><i class="pi pi-home"></i>Home</a>
    </p-sidebar>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-bars"
      class="p-button-rounded p-button-text"
      (click)="visibleSidebar1 = true"
    ></button>
  </div>
  <div class="col-11">
    <router-outlet></router-outlet>
  </div>
</div>
